<script>
import { defineComponent } from 'vue';

export default /*#__PURE__*/defineComponent({
  name: 'VueContextMenuDOption',
  props: {
    root: {
      type: Boolean,
      required: false,
      default: () => false
    },
    type: {
      type: String,
      required: false,
      default: () => null
    },
    icon: {
      type: Array,
      default: () => null,
      required: false
    },
    css: {
      type: String,
      required: false,
      default: () => null
    },
    name: {
      type: String,
      required: true
    },
    value: {
      type: String,
      required: false,
      default: () => undefined
    },
    options: {
      type: Array,
      required: false,
      default: () => []
    },
    left: {
      type: Number,
      required: false,
      default: () => 0
    }
  },

  computed: {
    cssClasses() {
      let classes = 'context-menu-d__item';

      if (this.css)
        classes += ` ${this.css}`;

      if ((this.type && this.type==='divider'))
        classes += ' context-menu-d__divider';

      if (this.root) {
        classes += ' is-root';
      }

      if (this.options.length>0) {
        classes += ' is-parent';
      }

      return classes;
    },
    width() {
      const computed = window.getComputedStyle(this.$el);
      return this.$el.clientWidth - (parseInt(computed.paddingLeft) + parseInt(computed.paddingRight));
    },
    optionsStyle() {
      return `margin-left: ${this.left + this.width +6}px;margin-top:1px;`;
    }
  },

  data() {
    return {
      isMounted: false
    }
  },

  emits: ['option-clicked'],

  methods: {
    onClick() {
      this.$emit('option-clicked', {
        name: this.name,
        value: this.value
      });
    },
    passClick(event) {
      this.$emit('option-clicked', {
        name: event.name,
        value: event.value
      });
    }
  },

  mounted() {
    this.isMounted = true;
  }
});
</script>

<template>
  <div :class="cssClasses">
    <div v-if="type !== 'divider'" class="icon">
      <fa v-if="!!icon" :icon="icon" />
    </div>
    <div v-if="type !== 'divider'"
      class="text"
      @click.prevent.stop="onClick()"
    >{{ name }}</div>
    <template v-if="!!options && options.length>0">
      <fa 
        icon="chevron-right"
        class="icon-chevron-right"
      />
      <div v-if="isMounted"
        class="context-menu-d__sub_list"
        :style="optionsStyle"
        >
        <VueContextMenuDOption
          v-for="option in options" :key="option"
          v-bind="option"
          :left="left + width - 32"
          @option-clicked="passClick($event)"
        />
      </div>
    </template>
  </div>
</template>

<style scoped>
*, *::before, *::after {
    box-sizing: border-box;
}
.context-menu-d__item {
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
  color: #434343 !important;
  font-size: .8rem;
  padding: .25rem 0;
  display: flex;
  position: relative;
}
.context-menu-d__item>div:first-of-type {
  margin-left: 6px;
}
.context-menu-d__item>div:last-of-type {
  margin-right: 10px;
}
.context-menu-d__item:not(:first-of-type) {
  border-top-width: 0px;
}
.context-menu-d__item:not(:last-of-type):not(.context-menu-d__divider) {
  border-bottom-width: 0px;
}
.context-menu-d__item .icon {
  display: inline-block;
  width: 16px;
  margin-right: 4px;
  text-align: center;
}
.context-menu-d__item .icon .svg-inline--fa {
  padding: 0px;
}
.context-menu-d__item .text {
  display: inline-block;
  white-space: nowrap;
  margin-right: 12px;
}
.context-menu-d__item.is-parent {
  padding-right: 6px;
}
.context-menu-d__item .context-menu-d__sub_list {
  position: absolute;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  display: none;
  top: -2px;
}
.context-menu-d__item:hover>.context-menu-d__sub_list {
  display: flex;
}
.context-menu-d__item:hover:not(.context-menu-d__divider) {
  background-color: #98d37d;
  border-radius: 0px;
}
.context-menu-d__item.context-menu-d__divider, .context-menu-d__item.context-menu-d__divider:hover {
  height: 0px;
  padding: 0px;
  border-bottom-width: 1px;
  display: flex;
}
.context-menu-d__item .icon-chevron-right {
  margin-left: auto;
  margin-right: 0px;
  margin-top: 2px;
}
</style>
