<script>
import { defineComponent } from 'vue';
import vClickOutside from "v-click-outside";
import ContextMenuDOption from "./VueContextMenuDOption.vue";

export default /*#__PURE__*/defineComponent({
  name: 'VueContextMenuD',
  directives: {
    'click-outside': vClickOutside.directive
  },
  components: {
    ContextMenuDOption
  },
  emits: ['option-clicked'],
  data() {
    return {
      isOpen: false,
      position: {
        x: 0,
        y: 0,
      },
      ctx: null,
      options: []
    };
  },
  methods: {
    open(event, ctx, options=[]) {
      this.options = options;
      if (this.options.length === 0) {
        return;
      }
      if (event) {
        this.position.x = event.pageX;
        this.position.y = event.pageY;
      }
      this.ctx = ctx;
      this.isOpen = true;
    },
    close() {
      this.isOpen = false;
    },
    onClickOutside() {
      this.close();
    },
    clickOutside(event) {
      if (!this.$refs.contextMenuD || !this.isOpen) return;
      const insideMenu = this.$refs.contextMenuD.contains(event.target);
      if (!insideMenu) this.close();
    },
    onClick(event, option) {
      this.close();
      this.$emit('option-clicked', { ctx: this.ctx, option, value: event.value });
    },
    onEscKeyRelease(event) {
      if (event.keyCode === 27) {
        this.close();
      }
    }
  },
  mounted() {
    document.body.addEventListener('click', this.clickOutside);
    document.body.addEventListener('keyup', this.onEscKeyRelease);
  },
  beforeUnmount() {
    document.body.removeEventListener('click', this.clickOutside);
    document.body.removeEventListener('keyup', this.onEscKeyRelease);
  }
});
</script>

<template>
  <div class="context-menu-d" ref="contextMenuD" :style="{
		'display': isOpen ? 'block' : 'none',
		'left': `${position.x}px`,
		'top': `${position.y}px`,
	}">
		<div class="context-menu-d__list">
      <context-menu-d-option
        v-for="option in options" :key="option"
        v-bind="option"
        :root="true"
        @option-clicked="onClick($event, option)" />
    </div>
	</div>
</template>

<style scoped>
.context-menu-d {
  position: absolute;
  z-index: 200;
  background-color: #FFFFFF;
}

.context-menu-d__list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
</style>
